/* Styling for the form wrapper */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;    
}

/* Styling for the form */
form {
  background-color: #f1f1f1;
  width: 50%;
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the labels */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Styling for the inputs */
input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for the submit button */
button[type="submit"] {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}





/* tab page styles */
/* submitForm.module.css */
.appContainer {
display: flex;
flex-direction: row;
height: 100vh;
}

.verticalTabContainer {
display: flex;
flex-direction: column;
align-items: flex-start;
width: 15%;
}

.verticalTabContainer button {
display: flex;
justify-content: center;
align-items: center;
width: 100%; /* Set the width as a percentage of its container */
height: 5%; /* Set the height as a percentage of its container */
background-color: #f0f0f0;
border: none;
margin-bottom: 2%; /* Add a margin between buttons as a percentage */
cursor: pointer;
padding: 1%; /* Add padding inside the buttons as a percentage */
font-size: 80%;
}


.verticalTabContainer button:focus {
outline: none; /* Remove the default focus outline */
}

.widgetContainer {
width: 100%; /* Set the width as a percentage of its container */
}

.badge {
position: absolute;
top: 1px;
right: 1px;
background: red;
color: white;
border-radius: 50%;
width: 15px;
height: 15px;
display: flex;
align-items: center;
justify-content: center;
font-size: 12px;
font-weight: bold;
}