/* Styles for the main container */
.container {
  display: flex;
}

/* Styles for the room list container */
.roomListContainer {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

/* Styles for each chat room item */
.chatRoomItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* Styles for room path buttons (tabs) */
button {
  background-color: #f1f1f1;
  border: none;
  border-right: 2px solid #ccc;
  padding: 10px 15px;
  cursor: pointer;
}

/* Styles for the active room path button (tab) */
button.active {
  background-color: #ccc;
  font-weight: bold;
}

/* Styles for the chat rooms container */
.chatRoomsContainer {
  display: flex;
  margin-top: 15px;
}

/* Styles for chat rooms */
.chatRoom {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  height: 400px; /* Adjust the height to make the chat rooms longer */
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.activeRoom {
  position: relative;
}

/* Hide inactive chat rooms */
.chatRoomsContainer {
  display: flex;
}

/* Additional styles for the close button */
.closeButton {
  position: absolute;
  top: -8px;
  right: -16px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 50%; /* Make the button round */
  width: 20px; 
  height: 20px; 
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}